In [1]:
import numpy as np
import pandas as pd

Question 1
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'1.4.3'

In [ ]:
!curl https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
df_ch = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [10]:
df_ch.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Question 2
How many columns are in the dataset?

10
6560
10989
20640

In [7]:
df_ch.shape

(20640, 10)

Question 3: Select columns with missing data

'total_rooms'
'total_bedrooms'
both of the above
no empty columns in the dataset

In [9]:
df_ch.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Question 4: Number of unique values in the 'ocean_proximity' column

In [11]:
df_ch['ocean_proximity'].nunique()

5

Question 5: Average value of the 'median_house_value' for the houses near the bay

In [17]:
df_ch.groupby('ocean_proximity').median_house_value.mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

In [18]:
df_ch.groupby(df_ch.ocean_proximity == 'NEAR BAY').median_house_value.mean()

ocean_proximity
False    200321.954605
True     259212.311790
Name: median_house_value, dtype: float64

In [20]:
df_ch[df_ch['ocean_proximity'] == 'NEAR BAY'].groupby('ocean_proximity').median_house_value.mean()

ocean_proximity
NEAR BAY    259212.31179
Name: median_house_value, dtype: float64

Question 6: Has the mean value changed after filling missing values?

In [21]:
df_ch_f = df_ch
mean_value = df_ch_f['total_bedrooms'].mean()
df_ch_f['total_bedrooms'].fillna(value=mean_value, inplace = True)

In [22]:
df_ch_f.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [23]:
df_ch_f[df_ch_f['ocean_proximity'] == 'NEAR BAY'].groupby('ocean_proximity').median_house_value.mean()

ocean_proximity
NEAR BAY    259212.31179
Name: median_house_value, dtype: float64